body {

}

#header {
	background-color : #000099;
	width : 100%;
}

#navigation_bar {
	background-color : #99FFFF;
}

#nav_button{
	padding : 5px;
	background-color : black;
	color : white;
}

#nav_button : hover{
	background-color : white ;
	color : black;
}

#left_user_div{
	float : left;
}

#right_button_div {
	float : right;
}

#content {
	width : 80%;
	background-color:#CCCCFF;
}

